body {
    background-color: orange;
}

body header, body article, body footer {
    display: block;
    background-color: blue;
    margin: 32px;
}

.content {
    width: 1024px;
    border-radius: 16px;
    box-shadow: 4px 4px 8px grey;
    padding: 32px;
}

.content h1, .content h2, .content h3 {
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.a_paper::before, .a_code::before, .a_video::before {
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UISymbol', 'Noto Color Emoji';
    padding-right: 1em;
}

.a_paper::before {
    content: '📄';
}

.a_code::before {
    content: '⌨';
}

.a_video::before {
    content: '📽';
}
